<!-- Carousel Feature -->
<div id="homepage-feature" class="carousel slide" data-ride="carousel">

  <!-- Carousel Indicators -->
  <ol class="carousel-indicators">
    <% (0..(@products.length-1)).each do |n| %>
    <li data-target="#carousel-example-generic" data-slide-to="<%=n%>" class=<%="active" if n == 0 %>></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <!-- Populate the products on the carousel page. -->
    <% @products.each do |product| %>
    <div class="item<%=" active" if product == @products.first %>">
      <%= image_tag(product.image_url, class: "img-responsive") %>
      <div class="carousel-caption">
        <%= product.name %>
      </div>
    </div><!-- / Slide X -->
    <% end %>
  </div><!-- / Wrapper for slides -->

  <!-- Carousel Controls -->
  <a class="left carousel-control" href="#homepage-feature" role="button" data-slide="prev">
    <span class="icon fa fa-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#homepage-feature" role="button" data-slide="next">
    <span class="icon fa fa-chevron-right"></span>
  </a>

</div><!-- /#homepage-feature.carousel -->
