<h2>Featured Product:</h2>

<!-- New code. -->
<div class="container-fluid">
	<h1><%= @featured_product.name%></h1>
	<hr>
  <div class="row">    
    <!-- Populate the products on the index page. -->        
    <%= image_tag(@featured_product.image_url, class: "img-responsive") %>
    <h3>!!!ORDER NOW!!!</h3>
    <p><%= @featured_product.description %><p>
    <p>Color: <%= @featured_product.color %><p>  
    <hr>
    <strong>Price: £ 100.00<strong>     
  </div><!-- /row -->
</div><!-- /container-fluid -->

<h3><%= link_to 'Show other products', products_path %></h3> 

