<!-- Comments Panel -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4><strong>Customer Reviews...</strong></h4>

    <p><strong>Average Rating:</strong> ( &nbsp <%= pluralize(@product.total_rating.to_f, "customer review") %> &nbsp ) </p>
    <div id="average-rating2" class="rated rated-average" data-score="<%= @product.average_rating %>"> </div>
  </div><!-- / panel-heading -->

  <div class="panel-body">

    <!-- Individual Comment. -->
    <!-- Class is unique. Used by Create.js.erb AJAX -->
    <div class="comments-block--individual">
      <% @comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: {comment: comment}  %>
      <% end %>
    </div> <!-- /comments-block-individual -->

  </div><!-- / panel-body -->

  <div class="panel-footer">
    <!-- Page Info -->
    <div class="page_info"> <%= page_entries_info @comments %> </div>
    <!-- Pagination page indexing -->
    <div class="row pagination-wrap">
      <ul class="pagination">
        <%= will_paginate @comments %>
      </ul>
    </div><!-- /.pagination-wrap -->
  </div><!-- / panel-footer -->

</div><!-- / panel -->
