<div class="container-fluid">  

  <div class="product-reviews">
    <h4>Customer Reviews...</h4>
    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
    <hr>
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>

    <hr>
    <%= will_paginate @comments %>
    
    <div class="row bg-info">
      <% @comments.each do |comment| %>
          
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <hr>
          <p>
            <%= comment.user.first_name %> &nbsp 
            <small><em>
              <%= "#{ time_ago_in_words(comment.created_at)} ago" %>
            </em></small> &nbsp
            <% if signed_in? && current_user.admin? %>
              <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' }%>
            <% end %>  
          </p>
          <div class="rated" data-score="<%= comment.rating %>"></div>     
          <p><%= comment.body %></p>
        </div> <!-- /col -->  
            
      <% end %>
    </div> <!-- /row -->  
  </div> <!-- /product-reviews --> 

  <%= will_paginate @comments%>

</div><!-- /container-fluid -->   
  
