<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <div class="thumbnail">
      <%= link_to image_tag(product.image_url, class: "img-responsive"), product, class: "thumbnail" %>
      <div class="caption">
        <h4><%= product.name %></h4>
        <hr>
        <p><strong>4.1 </strong> | * * * * *  | 100 Customer Reviews</p>
        <hr>
        <p><%= product.description %></p>
        <p><strong>Color:</strong> <%= product.color %></p>
        <p><strong>Location:</strong> <%= product.location %></p>  
        <p><strong>Price:</strong> £ 100.00</p>
      </div>
    </div>
        

    <!-- <hr> -->
    <!-- Activate by adding "=" after "%" -->
    <div class="admin-buttons">
      <hr>  
      <p>
        <%= link_to 'Show', product, class: "btn btn-primary", role: "button"  %> | 
        <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary", role: "button"   %> |
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary", role: "button"   %>
      </p>
      <hr>
    </div>  
</div> <!-- /col -->