<!-- index.html.erb page for the products  -->

<!-- Bread Crumb -->
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><a href="#">Bicycles</a></li>
  <li class="active">Custom Made Bicycles</li>
  <!-- Admin button for new products -->
  <% if signed_in? && current_user.admin? %>
    <%= link_to ('<span class="glyphicon glyphicon-plus"></span> &nbsp New Product ').html_safe, new_product_path, class: "btn btn-primary btn-xs pull-right", role: "button" %>
  <% end %>
</ul>

<!-- Page Header -->
<div class="page-header center">
  <h1>Fantastic Bikes <small>custom made for you...</small></h1>
  <!-- Pagination Information  -->
  <!-- div class="page_info" --> 
  <p><%= page_entries_info @products %></p>
</div> 

<div class="row">
  <!-- Product Category Options Panel -->
  <div class="grid-options col-sm-3">

    <h2 class="clearfix">Narrow your selection
      <button type="button" class="options-panel-toggle btn btn-primary pull-right" data-toggle="collapse" data-target="#options-panel">
      <span class="icon fa fa-cog fa-2x"></span>
      </button>
    </h2>

    <div id="options-panel" class="options-panel collapse">

      <a class="btn btn-feature choose-clearance" href="#">
        <span class="icon fa fa-tag fa-3x"></span>
        <h3>Clearance Sale</h3>
        <p>View clearance items</p>
      </a>

      <h3>Categories</h3>
      <ul class="options-list options-categories">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
        <li><a href="#">Option 4</a></li>
        <li><a href="#">Option 5</a></li>
        <li><a href="#">Option 6</a></li>
        <li><a href="#">Option 7</a></li>
        <li><a href="#">Option 8</a></li>
        <li><a href="#">Option 9</a></li>
        <li><a href="#">Option 10</a></li>
      </ul>

      <h3>Brands</h3>
      <ul class="options-list options-brands">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
        <li><a href="#">Option 4</a></li>
        <li><a href="#">Option 5</a></li>
        <li><a href="#">Option 6</a></li>
        <li><a href="#">Option 7</a></li>
        <li><a href="#">Option 8</a></li>
        <li><a href="#">Option 9</a></li>
        <li><a href="#">Option 10</a></li>
      </ul>

      <h3>Another Filter</h3>
      <ul class="options-list options-other">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
        <li><a href="#">Option 4</a></li>
        <li><a href="#">Option 5</a></li>
        <li><a href="#">Option 6</a></li>
        <li><a href="#">Option 7</a></li>
        <li><a href="#">Option 8</a></li>
        <li><a href="#">Option 9</a></li>
        <li><a href="#">Option 10</a></li>
      </ul>

    </div><!-- /#options-panel -->

  </div><!-- /.products-grid-options -->    

  <!-- Product Item Grid -->
  <div class="products-grid col-sm-9">

    <!-- Populate the products on the index page. -->
    <div class="row">    
      <!-- Use cache for fater load time -->
      <!-- ISSUE: Cache forces only first items for the pagination. -->
      <!-- Disabled cache for now. -->
      <!-- >% cache (cache_key_for_products) do %> -->
        <!-- Populate the products via a partial. -->
        <%= render @products %>        
      <!-- >% end %>  -->
    </div><!-- /row -->

    <!-- Pagination page indexing -->
    <div class="row pagination-wrap">
      <ul class="pagination">
        <%= will_paginate @products %>
      </ul>
    </div><!-- /.pagination-wrap -->    

  </div><!-- /.products-grid -->

</div><!-- /.row -->

<!-- DIFFERENT PARTIALS -->
<!-- Partial 1: Original -->
<!-- Original -->
<!--  @products.each do |product|  -->
<!--    render partial: "product", locals: {product: product} -->
<!--  end  -->

<!-- Partial 2: Original -->
<!-- Refactored Partial: If partial, model and variable are all same. -->
<!--  @products.each do |product|  -->
<!--    render product -->
<!--  end  -->

<!-- Partial 3: Refactored Partial -->
<!-- @products is an array of objects, i.e collection. -->
<!-- render partial: "product", collection: @products -->

<!-- Partial 4: Refactored Partial -->
<!-- Objects of collection match partial -->
<!-- render @products -->
