<!-- Debug info: shows in terminal -->
<% logger.debug " "%>
<% logger.debug "---=== Logger Debug ===---"%>
<% logger.debug "-  Product ID: #{@product.id}"%>
<% logger.debug "-  Product Name: #{@product.name}"%>
<% logger.debug "-  Page Param ID: #{params[:id]}"%>
<% logger.debug "---=== END ===---"%>
<% logger.debug " "%>

<!-- Alternative Ratings show using scopes and custom methods -->
<%# @product.comments.order(rating: :desc).first.rating %>
<%# @product.comments.rating_desc.first.rating %>
<%# @product.highest_rating_comment.rating %>

<!-- Bread Crumb -->
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to 'Bicycles', products_path %></li>
  <li><%= link_to 'Custom Made Bicycles', products_path %></li>
  <li class="active"><%= @product.name %></li>
</ul>

<!-- Page Header -->
<div class="page-header center">
  <h1><%= @product.name %>&nbsp | &nbsp<small><%= @product.description %></small></h1>
</div> 

<div class="row">
</div>   

<!-- Header -->
<div class="container-fluid ">
  <p class="text-center center">
    <%= link_to 'Add to basket', edit_product_path(@product), class: "btn btn-primary", role: "button"   %> | 
    <%= link_to 'Back', products_path, class: "btn btn-primary", role: "button"    %>
  </p>
  <hr>
  <!-- Admin Buttons -->
  <div class="admin-buttons">      
    <% if signed_in? && current_user.admin? %>
      <hr>        
      <%= link_to ('<span class="glyphicon glyphicon-edit"></span>').html_safe, edit_product_path(@product), class: "btn btn-warning btn-xs" %>
      &nbsp | &nbsp
      <%= link_to ('<span class="glyphicon glyphicon-trash"></span>').html_safe, @product, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }%>
      <hr>
    <% end %>      
  </div>  <!-- /admin-buttons -->  

  <!-- Product Detail View -->
  <div class="row">  
    <% cache @product do %>

    <!-- Product Picture -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">      

      <div class="thumbnail">
        <!-- Product Image -->
        <%= image_tag(@product.image_url, width: "350", class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>

        
        <div class="caption">         
         
        </div>
      </div>        
    
      
    </div> <!-- /col -->

    <!-- Product Details-->   
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 product-details bg-success">
      <!-- Product Name -->      
      <h4><%= @product.name %></h4>
      <!-- Average Rating View -->
      <hr>
      <p>
        <strong>Average Rating:</strong> 
        ( &nbsp 
        <%= pluralize(@product.total_rating.to_f, "customer review") %> 
        &nbsp )        
        <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>">          
        </div>
         
      </p>
      <hr>
      
      <p><strong>Name: &nbsp</strong><%= @product.name %></p>
      <p><strong>Description: &nbsp</strong><%= @product.description %></p>
      <p><strong>Color: &nbsp</strong><%= @product.color %></p>
      <p><strong>Location: &nbsp</strong><%= @product.location %></p>
      <p>
        <strong>Price:</strong> 
        &nbsp
        <%= number_to_currency(@product.price, unit: "£", separator: ".", delimiter: "") %>
      </p>
      <p>
        <!-- Debug info: shows in terminal -->
        <% logger.debug "Product ID: #{@product.id}"%>
        <% logger.debug "Product Name: #{@product.name}"%>
        <% logger.debug "Page Param ID: #{params[:id]}"%>
        <% logger.debug "Page Param ID: #{@product.image_url}"%>

        <!-- Stripe payment button -->
        <%= form_tag "/payments/create" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
          <%= hidden_field_tag(:product_id, @product.id) %> 
        <% end %>
      </p>

    </div> <!-- /col --> 
    <% end %>  <!-- /Cache -->    
  </div><!-- /row -->


<%= render 'comments' %>

<div class="container-fluid">
  <%= render 'new_comment' %>
</div><!-- /container-fluid -->  

