<!-- Individual Product Page -->

<!-- Debug info: shows in terminal -->
<% logger.debug " "%>
<% logger.debug "---=== Logger Debug ===---"%>
<% logger.debug "-  Product ID: #{@product.id}"%>
<% logger.debug "-  Product Name: #{@product.name}"%>
<% logger.debug "-  Page Param ID: #{params[:id]}"%>
<% logger.debug "---=== END ===---"%>
<% logger.debug " "%>

<!-- Alternative Ratings show using scopes and custom methods -->
<%# @product.comments.order(rating: :desc).first.rating %>
<%# @product.comments.rating_desc.first.rating %>
<%# @product.highest_rating_comment.rating %>

<!-- Bread Crumb -->
<ul class="breadcrumb">
  <li><%= link_to ('<span class="glyphicon glyphicon-home"></span>').html_safe, root_path %></li>
  <li><%= link_to 'Bicycles', products_path %></li>
  <li><%= link_to 'Custom Made Bicycles', products_path %></li>
  <li class="active"><%= @product.name %></li>
  <div class="pull-right">
    <!-- Buttons floated to the right -->
    <% if signed_in? && current_user.admin? %>
      <!-- Product Edit Button -->
      <%= link_to ('<span class="glyphicon glyphicon-edit"></span>').html_safe, edit_product_path(@product), class: "btn btn-warning btn-xs" %>
      <!-- Product Delete Button -->
      <%= link_to ('<span class="glyphicon glyphicon-trash"></span>').html_safe, @product, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' }%>
    <% end %>
    <!-- Back Button -->
    <%= link_to ('<span class="glyphicon glyphicon-backward"></span> &nbsp Back ').html_safe, products_path, class: "btn btn-primary btn-xs", role: "button" %>
    <!-- Add to Basket Button -->
    <%= link_to ('<span class="glyphicon glyphicon-check"></span> &nbsp Add to basket ').html_safe, edit_product_path(@product), class: "btn btn-primary btn-xs", role: "button" %>
  </div>
</ul><!-- / Bread Crumb -->

<!-- Page Header -->
<div class="page-header center">
  <h1><%= @product.name %>&nbsp <small><%= @product.description %></small></h1>
</div>

<!-- Body of Page -->
<div class="row">
  <!-- Products Details-->
  <div class="col-md-12">
  <!-- Cache Wrapper for individual product -->
  <% cache @product do %>

    <!-- Main Panel Wrapper -->
    <div class="panel panel-success">

      <div class="panel-body">
        <!-- Product Image -->
        <div id="product-image" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <!-- Product Image -->
          <%= image_tag(@product.image_url, width: "350", class: "img-responsive img-zoom center-block", data_zoom_image: @product.image_url) %>
          <hr>
        </div><!-- /Product Image -->

        <!-- Product Details -->
        <div id="product-details" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <!-- Average Rating View -->
          <p>
            <strong>Average Rating:</strong>
            ( &nbsp <%= pluralize(@product.total_rating.to_f, "customer review") %> &nbsp )
            <div id="average-rating1" class="rated" data-score="<%= @product.average_rating %>"></div>
          </p>

          <!-- Product Details -->
          <p><strong>Detailed Description: &nbsp</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada nisl ac arcu accumsan aliquet. Donec efficitur arcu vitae est auctor, id pretium mi pulvinar. Donec ut lectus convallis, venenatis augue vulputate, ornare ante. Phasellus non porttitor diam. Nullam ac sem eu odio bibendum aliquam pretium sed erat. Nam in consectetur lacus, sed blandit justo. Quisque faucibus, eros vel porta laoreet, eros lorem consequat magna, in laoreet lorem arcu cursus ante. Pellentesque viverra, nisi quis faucibus consectetur, massa metus dignissim metus, sit amet varius arcu urna ac risus.</p>
          <p><strong>Color: &nbsp</strong><%= @product.color %></p>
          <p><strong>Location: &nbsp</strong><%= @product.location %></p>
          <p><strong>Price:</strong> &nbsp <%= number_to_currency(@product.price, unit: "£", separator: ".", delimiter: "") %></p>

        </div><!-- /Product Details -->

      </div><!-- / panel-body -->

      <div class="panel-footer">
        <!-- Stripe Payment button -->
        <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>
      </div><!-- / panel-footer -->

    </div><!-- / panel -->

  <% end %>  <!-- /Cache Products -->
</div> <!-- / Products Details-->

  <!-- Product Comments : Current -->
  <div id="product-comments--current" class="col-md-12">
    <%= render 'comments' %>
  </div><!-- /Product Comments -->

  <!-- Product Comments : New -->
  <div id="product-comments--new" class="col-md-12">
    <%= render 'new_comment' %>
  </div><!-- /New Comments -->


</div><!-- /row -->
