<!DOCTYPE html>
<html lang="en">
  <!-- Navigation Header -->
  <%= render 'layouts/header' %>
  
  <body>
    <!-- Navigation Header -->
    <%= render 'layouts/navigation' %>

    <!-- Main Body -->
    <main role="main">
      <div class="container">

        <!-- Devise "notices" and "alerts" -->
        <%= render 'layouts/notices_and_alerts' %>

        <!-- Normal Body -->        
        <%= yield %>

      </div><!-- container -->
    </main>

    <!-- Footer -->
    <%= render 'layouts/footer' %>

    <!-- Debug information to the site layout. -->
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
